<footer>
    <div class="footer-area clearfix pb-5 ">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="footer-bottom text-center">
                        <div class="bottom-text pt-4">
                            <p> &copy; {{date format="YYYY"}} {{@site.title}} |
                                <span>{{t "Developed by"}} <a target="_blank"
                                        href="https://themeix.com">{{t "Themeix"}}</a> &amp; {{t "Published with"}} <a
                                        target="_blank" href="https://ghost.org">{{t "Ghost"}}</a></span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>